fastapi==0.68.0
uvicorn==0.15.0
#opentelemetry-instrumentation==0.42b0
#opentelemetry-distro==0.42b0
#opentelemetry-exporter-otlp-proto-grpc==1.21.0
#opentelemetry-instrumentation-fastapi==0.42b0
#opentelemetry-instrumentation-requests==0.42b0